body {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-weight: bold;
  color: white;
  background: #142635;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  display: table;
  position: absolute;
  width: 100%;
  background: #142635;
}

.navBar {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  background: #131723;
}

.search_container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

#search_bar {
  width: 60%;
  border: none;
  padding: 15px;
  background: #142635;
  font-size: 20px;
  color: lightgrey;
  border-radius: 7px;
  text-indent: 11px;
}

#search_bar:focus {
  border: none;
  outline: none;
}

.search_button {
  width: auto;
  position: relative;
  padding: 18px 25px 15px 25px;
  left: -12px;
  border: 0;
  border-radius: 0px 7px 7px 0px;
  font-size: 17px;
  background: black;

}

.search_button:hover {
  cursor: pointer;
}

.headerImg_right {
  display: inline-block;
  float: right;
  height: 76px;
  width: 176px;
}

::placeholder {
  color: grey;
}


#navBarLogo {
  float: right;
  margin-right: 10px;
}

.location_container {
  margin-top: 70px;
  text-align: center;
}

#location_data {
  font-size: 30px;
}

.forecast_container {
  display: table-row;
  text-align: center;
  overflow-x: visible;
  white-space: nowrap;
}

.forecast_container::-webkit-scrollbar {
  display: none;
}

#forecast_item0, #forecast_item1, #forecast_item2, #forecast_item3, #forecast_item4, #forecast_item5, #forecast_item6 {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 50px 20px 0px 20px;
}

#forecast_item0:hover, #forecast_item1:hover, #forecast_item2:hover, #forecast_item3:hover, #forecast_item4:hover, #forecast_item5:hover, #forecast_item6:hover {
  background: #3b6689;
  cursor: pointer;
  opacity: 50%;
}

.ul_item {
  width: 100%;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#day0, #day1, #day2, #day3, #day4, #day5, #day6 {
  color: white;
}

#day0icon, #day1icon, #day2icon, #day3icon, #day4icon, #day5icon, #day6icon {
  position: relative;
  display: block;
  vertical-align: middle;
  padding: 0;
  margin: auto;
}

.tempContainer {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #aecbf9;
}

.precipContainer {
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}

.temp_left {
  width: 50%;
  border-right: 1px solid #aecbf9;
  text-align: left;
}

.temp_right {
  flex-grow: 1;
  text-align: right;
}

#precip_left0 {
  width: 50%;
  border-right: 1px solid #aecbf9;
  text-align: left;
}

#precip_right0 {
  flex-grow: 1;
  text-align: right;
}

#day0highTemp, #day1highTemp, #day2highTemp, #day3highTemp, #day4highTemp, #day5highTemp, #day6highTemp {
  font-family: inherit;
  font-size: 95%;
  font-weight: inherit;
  color: inherit;
}

#day0lowTemp, #day1lowTemp, #day2lowTemp, #day3lowTemp, #day4lowTemp, #day5lowTemp, #day6lowTemp {
  font-family: inherit;
  font-size: 95%;
  font-weight: normal;
  color: #aecbf9;
}

#forecast_details {
  text-align: center;
  width: 840px;
  height: 300px;
  margin: 0 auto;
  background: #3b6689;
}